# Tuple Data Structures

Collection of elements of type(homogenous(similar) ,heterogenous(disimilar))
Allows duplicates elements
Insertion is perserved
Unique index is available
Forward and backward index possible
Immutable --> unchangeble *****
Can be used as keys to the dictionary
The main difference between list and tuple is.
--- list are enclosed in brackets([]) and the elements and size can be changed.
--- tuple enclosed in paranthesis(,) cant be updated

# creating a tuple

### creating a tuple with tuple()

In [1]:
a=[10,20,30,'python']
type(a)

list

In [2]:
a=tuple([10,20,30,'python']) ## conversion from list to tuple

In [3]:
a

(10, 20, 30, 'python')

In [4]:
type(a)

tuple

### creating an empty tuple

In [5]:
b=()

In [6]:
type(b)

tuple

In [7]:
b

()

In [8]:
b=tuple()

In [9]:
b
##type(b)

()

### creating a tuple without parantheses()

In [10]:
a=10,20,30,'reddy',10+2j

In [11]:
a

(10, 20, 30, 'reddy', (10+2j))

In [12]:
type(a)

tuple

## creating a tuple with homogenous()

In [13]:
a=(10,20,30)

In [14]:
a

(10, 20, 30)

In [15]:
type(a)

tuple

### creating a tuple with single elements --> based on the type that we are assigning (not shown as tuple)

In [16]:
a=(1)

In [17]:
a

1

In [18]:
type(a)

int

In [19]:
b=(True)
type(b)

bool

### creating a tuple with heterogenous elements

In [20]:
c=(10,20,30,'reddy',3+2j,True,10.5,10)

In [21]:
type(c)

tuple

In [22]:
c

(10, 20, 30, 'reddy', (3+2j), True, 10.5, 10)

### tuple indexing

In [23]:
a=(10,20,30,True,"python",10.5,3+5j,10)

In [24]:
## print python using indexing
a[4]

'python'

### tuple slicing

In [27]:
## True,python need to be printed
a[3:5]

(True, 'python')

In [28]:
a[-5:5]

(True, 'python')

In [29]:
a[-5:-3]

(True, 'python')

### tuple concatenation / repetition

In [30]:
a

(10, 20, 30, True, 'python', 10.5, (3+5j), 10)

In [31]:
b=(20,30)
type(b)

tuple

In [34]:
c=a+b

In [35]:
type(c)

tuple

In [36]:
## repetition --> 
b*3

(20, 30, 20, 30, 20, 30)

# tuple fucntions

In [37]:
## all() -- returns True if all elements are non zero and not False.  0 is false
a=(1,2,3)

In [38]:
type(a)

tuple

In [39]:
all(a)

True

In [40]:
b=(1,2,0)

In [41]:
type(b)

tuple

In [42]:
all(b)

False

In [43]:
c=(1,-1)
all(c)

True

In [44]:
d=(1,False)
all(d)

False

In [45]:
## for empty tuple it will returns TRue
a=()
all(a)

True

In [46]:
## any()--> this functions returns True if any one element is nonzero/True
a=(1,2)
any(a)

True

In [48]:
a=(1,0)
any(a)

True

In [49]:
a=(0,False)
any(a)

False

In [50]:
## len
a=(1,2,3,4,5,3+2j)
len(a)

6

In [ ]:
## count---> no. of occurances of a specific charcter
## index --> will find the index position with the help of value
## max --> maximum
## min--> minimum
## sum--> cummulative/add
## sorted

In [51]:
a=(1,30,2,6,4)
sorted(a)

[1, 2, 4, 6, 30]

In [52]:
a

(1, 30, 2, 6, 4)

In [53]:
a[0]=50 ## immutable

TypeError: 'tuple' object does not support item assignment

In [73]:
## how to display the given tuple in ascedning order
a=(10,20,5,3,30)
a=sorted(a,reverse=True) ## deseding order

In [74]:
a

[30, 20, 10, 5, 3]

In [75]:
sorted(a)

[3, 5, 10, 20, 30]

In [76]:
## how to reverse the given tuple
a=(10,20,5,3,30)
a=reversed(a)

In [79]:
tuple(a)

()

# nested tuples
 -- tuple in another tuple like list. so we can add in a tuple list also

In [80]:
a=(1,'a',True)

In [81]:
a

(1, 'a', True)

In [82]:
type(a)

tuple

In [84]:
a=(1,2,3,(True,False),[10,20]) ## in side tuple we have one tuple and one list

In [85]:
a

(1, 2, 3, (True, False), [10, 20])

In [86]:
type(a)

tuple

In [87]:
b=[10,20]
type(b)

list

In [88]:
len(a)

5

In [90]:
a[3][0]

True

In [91]:
a[4][1]

20

assignment
converting tuple to string versa \n
converting tuple to list vice versa \n
converting list to string vice versa \n

In [ ]:
## tuple for heterogenous list is for homogenous
## iterating threough tuple is faster than list
## differences between list & tuple

# set data structures

In [1]:
## unordered collection of unique element
## it is used in membership testing to remove duplicates if any 
## set doesnot allow repeated elements
## insertion order is not preserved but elements are stored
## indexing slicing is not possible
## doesnot support concatenation and multiplication/ repetiotion
## two built in set data types 1. set() 2. frozenset
## set -- mutable the contents can changed using methods like add() and remove()
## frozen set--- immutable

In [2]:
 ## set -- mutable  
## frozen set --immutable


# create a empty set using set()

In [3]:
a=set()

In [4]:
a

set()

In [5]:
type(a)

set

In [6]:
print(a)

set()

In [7]:
## add the element into emptyset
a.add(10)

In [8]:
a

{10}

# creating a set with elements using set()

In [10]:
s=set([1,2,3,'a+3j',True])

In [11]:
s

{1, 2, 3, 'a+3j'}


# creating a set with elements using {       }

In [12]:
a={1,5,0,12,1,5,12}

In [13]:
a

{0, 1, 5, 12}

# memebership operations -- in, not in

In [14]:
s={10,20,30,True,100,"python"}

In [16]:
'python' in s ## --> if avaible true else false

True

In [17]:
200 not in s

True

In [18]:
10  not in s

False

# removing duplicates elements from other sequences

In [19]:
a=[10,20,10,40,50,50]

In [20]:
a

[10, 20, 10, 40, 50, 50]

In [21]:
type(a)

list

In [22]:
b=set(a)

In [23]:
b

{10, 20, 40, 50}

In [24]:
c=list(b)

In [25]:
c

[40, 10, 20, 50]

# set functions

In [26]:
## add()
s={1,2,3}

In [27]:
s

{1, 2, 3}

In [30]:
s.add(40)

In [31]:
s

{1, 2, 3, 40}

In [33]:
## remove --> remove elemenst from the set .if the element is not available throw an error

In [34]:
s

{1, 2, 3, 40}

In [35]:
s.remove(40)

In [36]:
s

{1, 2, 3}

In [38]:
s.remove(13)

KeyError: 13

In [39]:
 ## discard()--> remove elemenst from the set .if the element is not available its does nothing

In [40]:
s

{1, 2}

In [41]:
s.add(30)

In [42]:
s

{1, 2, 30}

In [43]:
s.discard(40)

In [44]:
s.discard(1)

In [45]:
## remove and discard differences

In [46]:
## copy()
s

{2, 30}

In [47]:
a=s.copy()

In [48]:
a

{2, 30}

In [49]:
## clear() -->clears existing 
s

{2, 30}

In [50]:
s.clear()

In [51]:
s

set()

In [52]:
## isdisjoint() --> returns True when both sets are empty or if  both sets contain not matchiing elements

In [59]:
s=set()

In [60]:
s

set()

In [61]:
s1=set()

In [62]:
s.isdisjoint(s1)

True

In [63]:
s=set([1,2,3,4,5])

In [64]:
s1=set([1,5,6,7,8])

In [65]:
s.isdisjoint(s1)

False

In [ ]:
{} , set() --> differences

In [66]:
## issubset()
s={1,2,3,4,5}
s1={1,2,3}

In [67]:
s1.issubset(s)

True

In [68]:
s.issubset(s1)

False

In [69]:
## issuperset
s.issuperset(s1)

True

In [70]:
## union 
s

{1, 2, 3, 4, 5}

In [71]:
s1

{1, 2, 3}

In [72]:
s.union(s1)

{1, 2, 3, 4, 5}

In [73]:
# scond 
s|s1

{1, 2, 3, 4, 5}

In [74]:
## intersection
s.intersection(s1)

{1, 2, 3}

In [75]:
s

{1, 2, 3, 4, 5}

In [76]:
s1

{1, 2, 3}

In [77]:
s.intersection_update(s1)

In [78]:
s

{1, 2, 3}

In [79]:
s & s1

{1, 2, 3}

In [80]:
## difference

In [81]:
s.add(50)

In [83]:
s

{1, 2, 3, 50}

In [84]:
s1

{1, 2, 3}

In [85]:
s.difference(s1)

{50}

In [86]:
s.difference_update(s1)

In [87]:
s

{50}

In [88]:
## symeetric --> un matching
## symetric difference

In [89]:
## mutable --> set ,list
a=()

In [90]:
type(a)

tuple

In [91]:
b=[]

In [92]:
type(b)

list

In [96]:
b.append(10)

In [97]:
b

[10]

In [1]:
## frozen set
b=frozenset([10,20,30])

In [2]:
b

frozenset({10, 20, 30})

In [3]:
type(b)

frozenset

In [4]:
## 2. remove() 
s

NameError: name 's' is not defined

In [5]:
s.remove(50) ## if the element is not found then it will throw error

NameError: name 's' is not defined